@media (max-width: 70em) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 58em) {
  html {
    font-size: 40%;
  }
}

@media (max-width: 47em) {
  html {
    font-size: 50%;
  }
   .four-cards {
    margin: 4rem auto;
    height: auto;
  }
  .card-blocks {
    display: block;
  }
}
